@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

body {
  @apply bg-background text-foreground;
}

/* Projects carousel */
.swiper {
  width: 45rem;
  padding: 4.7rem 0;
  height: 28rem;
}

.swiper-slide {
  opacity: 0;
  transition: all .4s ease-in-out;
  bottom: 0;
}

.swiper-slide-prev,
.swiper-slide-next,
.swiper-slide-active {
  background-color: rgb(68 71 90 / 1);
  border-radius: 0.5rem;
  filter: blur(0.25rem) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  opacity: 0.3;
  width: 16rem !important;
  height: 12.82rem !important;
}

.swiper-slide img {
  width: 60% !important;
  position: relative;
  left: 20% !important;
  margin: 0
}

.swiper-slide-active {
  opacity: 1;
  z-index: 10;
  bottom: 20%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.swiper-pagination-bullet-active {
  background-color: #6272A4;
}

.swiper-button-prev,
.swiper-button-next {
  color: #6272A4;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 3.5rem;
}

.title {
  display: none;
  position: absolute;
  top: 13.5rem;
}

.subtitle {
  display: none;
  position: absolute;
  top: 17rem;
  width: 21.75rem;
  text-align: center;
  justify-content: center;
}

.swiper-slide-active .title,
.swiper-slide-active .subtitle {
  display: flex;
}

/* Contact form */

.label-float {
  position: relative;
  padding-top: .8125rem;
}

.label-float input {
  border: 0;
  border-bottom: .125rem solid #6272A4;
  background-color: transparent;
  margin-bottom: 1.0625rem;
  outline: none;
  min-width: 26.125rem;
  font-size: 1rem;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance: none;
  border-radius: 0;
}

.label-float input:focus {
  border-bottom: .125rem solid #3951b2;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  color: #F8F8F2;
  font-size: 1.5rem !important;
  top: 0;
  left: 0;
  margin-top: .8125rem;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float input:required:invalid+label {
  color: red;
}

.label-float input:focus:required:invalid {
  border-bottom: .125rem solid red;
}

.label-float input:required:invalid+label:before {
  content: '*';
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
  font-size: .8125rem;
  margin-top: 0;
}